@charset "utf-8";
@import "default";

.clearfix{
  zoom: 1;
  &:after{
    display: block;
    clear: both;
    content: '';
  }
}
.back_images(@url, @w, @h) {
  background: url(@url) no-repeat;
  background-size: @w @h;
}


.max_min{
  max-width: 1440px;
  min-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 45px;
}
.pos(@p, @t, @r, @b, @l, @w, @h, @color, @z-i){
  position: @p;
  top: @t;
  right: @r;
  bottom: @b;
  left: @l;
  width: @w;
  height: @h;
  background: @color;
  z-index: @z-i;
}

/* 页签切换 动画过渡 */
@keyframes animationshow {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-webkit-keyframes animationshow {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes transit {
  from {
      bottom: -500px;
      left: 0;
  }
  to {
      bottom: 0;
      left: 0;
  }
}
@-webkit-keyframes transit {
  from {
      bottom: -500px;
      left: 0;
  }
  to {
      bottom: 0;
      left: 0;
  }
}

@textColor: #373737;
@titleColor: #333333;
@title2Color: #666666;
@white: #fff;
@background_recommend: #f8f8f8;
@color000AFF: #000AFF;
@colorF8F8F8: #F8F8F8;
@color979797: #979797;
@colorD9D9D9: #D9D9D9;
@color030303: #030303;
@colorD8D8D8: #D8D8D8;
@colorFF636B: #FF636B;
@colorB0D0D3: #B0D0D3;
@color444444: #444444;
@color999999: #999999;
@colorD4D4D4: #D4D4D4;
@color000000: #000000;
@colorEFEFEF: #EFEFEF;
@color333333: #333333;
@color999999: #999999;
@colorE4E4E4: #E4E4E4;
@color9B0000: #9B0000;
@color6773B7: #6773B7;
@color21376F: #21376F;
@colorB75252: #B75252;
@colorD45757: #D45757;


// @detailsPromptColor: #FF4242;
// @detailsShadowColor: #000000;
// @detailsLinearStartColor: #6773B7;
// @detailsLinearEndColor: #21376F;
// @detailsBuyButtonColor: #D45757;

