@charset "utf-8";
@import "../base-method";
.home-upbanner {
  width: 100%;
  .horizontal-scroll-list-wrap {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    .cube-scroll-content {
      display: inline-block;
    }
    .list-wrapper {
      line-height: 60px;
      white-space: nowrap;
    }
    .list-item {
      display: inline-block;
      width: 138px;
      height: 219px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
